result
formal/ddr3_multiconfig*prf*
formal/ddr3_multiconfig_default/
formal/ddr3_multiconfig_ecc/
formal/ecc/
formal/ddr3_singleconfig/
example_demo/nexys_video/build/
testbench/xsim/xsim*
testbench/xsim/*backup*
testbench/xsim/*.log
testbench/xsim/*.pb
testbench/xsim/*.wdb
example_demo/*/build/*
example_demo/ypcb_00338_1p1/ypcb_00338_1p1_uberddr3_*.xdc
example_demo/ypcb_00338_1p1/v40-*-pre-place-bel-locks.py
example_demo/ypcb_00338_1p1/*_openxc7.bit
example_demo/build_logs*
*.fasm
*.frames
*.bin
*.json
*.bba
__pycache__/
artifacts/task6/
!artifacts/
!artifacts/task6/
artifacts/task6/*
!artifacts/task6/baselines/
artifacts/task6/baselines/*
!artifacts/task6/baselines/uberddr3-rowstream-loader-v40-physical-stability/
artifacts/task6/baselines/uberddr3-rowstream-loader-v40-physical-stability/*
!artifacts/task6/baselines/uberddr3-rowstream-loader-v40-physical-stability/critical.fasm
!artifacts/task6/baselines/uberddr3-rowstream-loader-v40-physical-stability/known-good-packed-bel-locks.json
*toolchain-nix*
testbench/ddr3_dimm_micron_sim_behav.wcfg
testbench/icarus_sim/*.log
testbench/icarus_sim/uberddr3_sim
*jobid
.caas*

# But do not ignore testbench/xsim/test_*.log
!testbench/xsim/test_*.log
